

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center header">
            <div class="logo">
                <img src="assets/home-icon.png" alt="Home Icon">
            </div>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="profile">
                <img src="assets/account.png" alt="Profile Icon" class="profile-icon">
                <div class="profile-name">
                    {{ username }}
                </div>
                
                <div class="profile-dropdown">
                    <a [routerLink]="['/settings']">Settings</a>
                    <a [routerLink]="['/logout']">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 sidebar">
            <div class="panel">
                <button class="btn btn-primary manage-user-button" (click)="navigateToManageUsers()">Manage Users</button>
                <button class="btn btn-secondary security-button" (click)="navigateToSecurity()">Security</button>
                <button class="btn btn-success general-settings-button" (click)="navigateToGeneralSettings()">General Settings</button>
            </div>
        </div>
        <div class="col-10 content">
            
        </div>
    </div>
</div>
