body {
    /* background-image: url('../../../assets/bgImageRegister.jpeg'); Corrected path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-check {
    margin-bottom: 0.5rem;
}

.btn-block {
    width: 100%;
}
